Repository microsoft/DirectXTK, pull requests merged in 2025-04, with the labels that each got.

#550 Migrate ADO pipelines to .azuredevops folder
  .azuredevops/pipelines/DirectXTK-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-prerelease.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-release.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Coverage.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz.yml
  .azuredevops/pipelines/DirectXTK-SDL.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/win10.yml
  build/DirectXTK-GitHub-WSL-11.yml
Labels: maintenance

#552 Update CMake for ARM64 version of XAudio2Redist
  .github/workflows/vcpkg.yml
  CMakeLists.txt
  CMakePresets.json
  build/CompilerAndLinker.cmake
  build/vcpkg.json
Labels: audio, cmake

#554 Update ADL YAML to use shared variables
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-prerelease.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-release.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
Labels: azure_pipelines

#553 Change the way GameInput callbacks are handled for mouse/keyboard
  Src/Keyboard.cpp
  Src/Mouse.cpp
Labels: input
